* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-gedung {
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Inter", DM sans-serif;
    background: #fff url(../Gambar/gedungsekolah.png) center center/cover no-repeat;
    min-height: 100vh;
}


a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
    color: #fff;
}

.navbar {
    /* background: linear-gradient(to bottom, #535387, #48aac5); */
    backdrop-filter: brightness(0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2rem;
    top: 0;
    z-index: 999;
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    width: 100%;
    font-size: 20px;
    margin: auto 1rem;
    font-weight: 400;
    padding: .5em 1em;
}

.nav-link:hover {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.judul-login{
    font-size: 30px;
    font-style:italic;
    text-align: center;
    color: aliceblue;
    text-shadow: -6px 7px 8px #222;
    font-weight:  bold;
}

.login {
    background-color: #48aac5;
    border: none;
    padding: 1em 2em;
    border-radius: 10px;
    margin-left: 3em;
}

.profil {
    width: 100%;
    text-align: end;
}

.profil img {
    width: 32%;
}

.profil .nav-item {
    text-align: center;
}

.btn-menu {
    display: none;
    padding: 0.5em .7em;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: #fff;
}

main {
    padding: 2em;
    min-height: 100vh;
}


form,
.tampilkan {
    background-color: #c1c1c9a8;
    font-style: initial;
    font: bold;
    width: 50%;
    margin: auto;
    padding: 1em;
    margin-bottom: 2em;
}

.submit-nilai{
    text-align: end;
}

.kembali{
    color: #fff;
    text-align: end;
}

input {
    width: 100%;
    padding: .5em;
    border-radius: 4px;
}

.nilai-UTS,
.nilai-UAS,
.nilai-IPK {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 20% 70%;
    margin: 1em auto;
}

/* .submit-nilai {
    text-align: end;
} */

.submit-nilai button {
    margin: 1em 4em;
    border-radius: 5px;
    padding: .5em 1.5em;
    background-color: #535387;
    color: #fff;
    border: none;
}

.kembali button{
    margin: 1em 4em;
    border-radius: 5px;
    padding: .5em 1.5em;
    background-color: #535387;
    color: #fff;
    border: none;

}


@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #000;
        padding: 3em 3em 2em;
    }

    .judul {
        font-size: 30px;
    }

    .nav-link {
        margin: .5em auto;
    }

    .btn-menu {
        display: block;
        z-index: 99;
    }

    .show {
        display: flex;
        flex-direction: column;
    }

    form,
    .tampilkan {
        width: auto;
    }

    /* 
    .profil img {
        width: 100%;
    } */
}