*,
html{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(gedungsekolah.png);
    background-size: cover;
    background-repeat: no-repeat;

}


/* 
-------------------CSS Home Awal--------------------- 
*/

.div-navbar{
    background-color: darkgray;
    display: flex;
    padding: 0 3em;
    align-items: center;
}

.ul-navbar {
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-navbar{
    display: flex;
}

.li-navbar{
    list-style-type: none;
    color: aqua;
    padding: 2%;
    margin: 6px;
    font-size: 20px;
}

.a-navbar{
    list-style-type: none;
    text-decoration: none;
    color:lavender;
    font-weight: 70vh;
}

.li-navbar:hover {
    background-color:black;
    text-decoration: none;
    transition: .3s ease-in-out;
    transition-delay: .3s;
    border-radius: 5px;
}

/* Hamburger */
.ul-navbar.active{
    display: flex;
}
.wrapper-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    display: none;
}
.toggle i{
    font-size: 35px;
    color: rgb(243, 243, 243);
    cursor: pointer;
}

/* content */

.content1{
    background-image: url(../Gambar/TampilanDepan.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    padding-bottom: 10%;
}

.font-pembukaan{
    font-size: 40px;
    font-display: flex;
    padding-left: 70%;
    padding-top: 20%;
}

.btn-lanjutan{
    padding-left: 70%;
}


.container{
    
    min-height: 100vh;   
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20%;
    font-display: center;
    text-align: justify;
}

.content-font-1{
    font-family: Arial, Helvetica, sans-serif;
    font-display: center;
    text-align: justify;
}
/* footer  */

.row{
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
}

.ul-footer{
    list-style: none;
    list-style-type: none;
}

.footer{
    background-image: linear-gradient(#202122,#696a6a);
    padding: 70px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}



.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-top: 10px;
}
.ul{
    list-style-type: none;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li :hover{
    color: gainsboro;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links :hover{
    background-color: red;
}

@media(max-width: 767px){

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}

@media screen and (max-width : 600px) {
    .row {
        align-items: center;
        justify-content: center;
    }
    
}

@media(max-width: 685px) {
    .div-navbar{
        /* width: 100%; */
        /* background-color: red; */
        display:flex;
        flex-wrap: wrap;
        /* justify-content: center; */
    }
    .toggle{
        display: block;
    }
    .ul-navbar{
        display: flex;
        flex-direction: column;
        display: none;
    }

}
/* Akhir hamburger */

@media(max-width: 767px){

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}

@media screen and (max-width : 600px) {
    .row {
        align-items: center;
        justify-content: center;
    }
    
}


