*,
html{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
  height: 400px;
  background-image: url(../Gambar/gedungsekolah.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
    
}

/*
Layar Utama  
------------------------CSS login Awal-------------------- 
*/

.wraper{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.masuk{
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.btn-login{
    position: relative;
    left: 100px;
}

button{
    padding: 7px 15px;
    border-radius: 10px;
    color:  gray;
    background-color: whitesmoke;
}

button:hover{
    background-color:black;
    text-decoration: none;
    transition: .3s ease-in-out;
    transition-delay: .3s;
    border-radius: 5px;
    cursor: pointer;

}


.lupa-sandi{
    display: flex;
    justify-content:right;
    align-items: center;
    width: 220%;
}


.a-content{
    background-color:#83858782;
    color: #000012;
    width: 500px;
    height: 260px;
    text-decoration: none;
    font-size: 20px;
    flex-direction: column;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    border-radius: 80px;
    -webkit-box-shadow: 3px 7px 5px 0px rgba(0,0,0,0.75);
}

.judul-login{
    font-size: 30px;
    font-style:italic;
    text-align: center;
    color: aliceblue;
    text-shadow: -6px 7px 8px #222;
    font-weight:  bold;
}

.kembali{
    text-align: end;
}

@media screen and (min-width : 1200px){
    .wraper{
        width: 100%;
    }
}


@media screen and (max-width : 600px){
    .wraper{
        width: 50%;
        display: block;
    }
    body{
        width: 100%;
    }
}

@media screen and (min-width : 320px){
    .wraper{
        width: 100%;
    }
}